
/*
    Created on : 28-ene-2016, 16:44:33
    Author     : jgallegoweb
*/
body { padding-top: 70px; }

.entrada:nth-child(3n+1) {
    clear: left;
}

.barra-tareas{
    margin: 20px 0;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}